body
{
	background-color: aliceblue;
	
}


.nav-color
{
 background-color:#161514!important;
 opacity: 90%;
}
.nav-menu
{
	text-align: center!important;
	color: whitesmoke!important;
	font-family: century gothic;
	padding-left: 0;
}

.brand-logo
{
	height: 4rem;
 	width: 4rem;
}
.cart-icon
{
	padding-left: 3px;
	height: 2.5rem;
 	width: 2.5rem;
}
.brand-txt
{
	color: whitesmoke;
	font-family: century gothic;
	padding-left: 0;
}
.menu-lok
{
	color: whitesmoke!important;
	text-align: center;
}

.text-search, .button-search
{
	border: none;
	background-color: transparent;
}
.imghighlight
{
	background-color: #161514!important;
}


.details-more
{
	color: whitesmoke;
	padding-left:10%;
	font-size: 1rem;
	text-align: right;
	padding-top: 2rem!important;
	padding-bottom: 2rem;
}
.highlight-button
{
	text-align: center;
}
.container
{
	width: 100%!important;
}
.carousel-img1, .carousel-img2 
{
	width: 100% !important;
    height: auto;
}
.addtocart
{
	background: black;
	width: 150px;
	color: white;
	font-weight: bold;
	border: 2px solid black;
}
.addtocart:hover
{
	background: white;
	width: 150px;
	color: black;
	font-weight: bold;
	border: 2px solid black;
}
.headgear-text h1, .boots-text, .vest-text  h1
{
	font-family: century gothic;
}
.log-logo
{
	width: 800rem !important;
}

.carousel-indicators li
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray !important;
}
.newarrival
{
	color: white !important;
}
